body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1543px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3192_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3192 {
  position:absolute;
  left:20px;
  top:20px;
  width:300px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3193 {
  position:absolute;
  left:2px;
  top:17px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3194_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u3194 {
  position:absolute;
  left:122px;
  top:29px;
  width:97px;
  height:33px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u3195 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u3196_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1436px;
  height:635px;
}
#u3196 {
  position:absolute;
  left:107px;
  top:118px;
  width:1436px;
  height:635px;
}
#u3197 {
  position:absolute;
  left:2px;
  top:310px;
  width:1432px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3198_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u3198 {
  position:absolute;
  left:38px;
  top:150px;
  width:30px;
  height:40px;
}
#u3199 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3200_div {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:102px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3200 {
  position:absolute;
  left:43px;
  top:200px;
  width:21px;
  height:102px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3201 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  word-wrap:break-word;
}
#u3202_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u3202 {
  position:absolute;
  left:38px;
  top:510px;
  width:30px;
  height:40px;
}
#u3203 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3204_div {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:102px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3204 {
  position:absolute;
  left:43px;
  top:560px;
  width:21px;
  height:102px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3205 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  word-wrap:break-word;
}
#u3206_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:29px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FF001D;
}
#u3206 {
  position:absolute;
  left:140px;
  top:448px;
  width:23px;
  height:29px;
  font-size:18px;
  color:#FF001D;
}
#u3207 {
  position:absolute;
  left:2px;
  top:2px;
  width:19px;
  white-space:nowrap;
}
#u3208_div {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:24px;
  background:inherit;
  background-color:rgba(229, 229, 229, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#868686;
}
#u3208 {
  position:absolute;
  left:502px;
  top:636px;
  width:134px;
  height:24px;
  font-size:14px;
  color:#868686;
}
#u3209 {
  position:absolute;
  left:2px;
  top:2px;
  width:130px;
  word-wrap:break-word;
}
#u3210_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3210 {
  position:absolute;
  left:110px;
  top:773px;
  width:83px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3211 {
  position:absolute;
  left:2px;
  top:2px;
  width:79px;
  white-space:nowrap;
}
#u3212_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3212 {
  position:absolute;
  left:233px;
  top:773px;
  width:83px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3213 {
  position:absolute;
  left:2px;
  top:2px;
  width:79px;
  white-space:nowrap;
}
#u3214_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3214 {
  position:absolute;
  left:514px;
  top:773px;
  width:109px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3215 {
  position:absolute;
  left:2px;
  top:2px;
  width:105px;
  white-space:nowrap;
}
#u3216 {
  position:absolute;
  left:152px;
  top:477px;
  width:0px;
  height:0px;
}
#u3216_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:300px;
}
#u3217 {
  position:absolute;
  left:-50px;
  top:140px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3218_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:24px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#333333;
}
#u3218 {
  position:absolute;
  left:244px;
  top:450px;
  width:61px;
  height:24px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#333333;
}
#u3219 {
  position:absolute;
  left:2px;
  top:2px;
  width:57px;
  white-space:nowrap;
}
#u3220 {
  position:absolute;
  left:275px;
  top:474px;
  width:0px;
  height:0px;
}
#u3220_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:303px;
}
#u3221 {
  position:absolute;
  left:-50px;
  top:142px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3222 {
  position:absolute;
  left:569px;
  top:660px;
  width:0px;
  height:0px;
}
#u3222_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:117px;
}
#u3223 {
  position:absolute;
  left:-50px;
  top:48px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3224 {
  position:absolute;
  left:140px;
  top:1423px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3225_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:24px;
  background:inherit;
  background-color:rgba(229, 229, 229, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FF0000;
}
#u3225 {
  position:absolute;
  left:505px;
  top:613px;
  width:83px;
  height:24px;
  font-size:14px;
  color:#FF0000;
}
#u3226 {
  position:absolute;
  left:2px;
  top:2px;
  width:79px;
  white-space:nowrap;
}
#u3227_div {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:24px;
  background:inherit;
  background-color:rgba(229, 229, 229, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#868686;
}
#u3227 {
  position:absolute;
  left:505px;
  top:518px;
  width:171px;
  height:24px;
  font-size:14px;
  color:#868686;
}
#u3228 {
  position:absolute;
  left:2px;
  top:2px;
  width:167px;
  white-space:nowrap;
}
#u3229_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:24px;
  background:inherit;
  background-color:rgba(229, 229, 229, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#868686;
}
#u3229 {
  position:absolute;
  left:505px;
  top:542px;
  width:103px;
  height:24px;
  font-size:14px;
  color:#868686;
}
#u3230 {
  position:absolute;
  left:2px;
  top:2px;
  width:99px;
  white-space:nowrap;
}
#u3231_div {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:24px;
  background:inherit;
  background-color:rgba(229, 229, 229, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#868686;
}
#u3231 {
  position:absolute;
  left:505px;
  top:494px;
  width:117px;
  height:24px;
  font-size:14px;
  color:#868686;
}
#u3232 {
  position:absolute;
  left:2px;
  top:2px;
  width:113px;
  white-space:nowrap;
}
#u3233_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3233 {
  position:absolute;
  left:904px;
  top:773px;
  width:57px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3234 {
  position:absolute;
  left:2px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u3235 {
  position:absolute;
  left:933px;
  top:773px;
  width:0px;
  height:0px;
}
#u3235_seg0 {
  position:absolute;
  left:-4px;
  top:-143px;
  width:8px;
  height:143px;
}
#u3235_seg1 {
  position:absolute;
  left:-4px;
  top:-143px;
  width:5px;
  height:8px;
}
#u3236 {
  position:absolute;
  left:-50px;
  top:-78px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3237_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1436px;
  height:635px;
}
#u3237 {
  position:absolute;
  left:99px;
  top:1041px;
  width:1436px;
  height:635px;
}
#u3238 {
  position:absolute;
  left:2px;
  top:310px;
  width:1432px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3239_div {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:24px;
  background:inherit;
  background-color:rgba(229, 229, 229, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#868686;
}
#u3239 {
  position:absolute;
  left:505px;
  top:566px;
  width:131px;
  height:24px;
  font-size:14px;
  color:#868686;
}
#u3240 {
  position:absolute;
  left:2px;
  top:2px;
  width:127px;
  white-space:nowrap;
}
#u3241_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:24px;
  background:inherit;
  background-color:rgba(229, 229, 229, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FF0000;
}
#u3241 {
  position:absolute;
  left:505px;
  top:590px;
  width:105px;
  height:24px;
  font-size:14px;
  color:#FF0000;
}
#u3242 {
  position:absolute;
  left:2px;
  top:2px;
  width:101px;
  white-space:nowrap;
}
